<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.scalatest">
<stringAttribute key="SCALATEST_LAUNCH_INCLUDE_NESTED" value="false"/>
<stringAttribute key="SCALATEST_LAUNCH_TYPE" value="FILE"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="/Figaro/src/test/scala/com/cra/figaro/test/library/decision/DecisionTest.scala"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Figaro"/>
</launchConfiguration>
